@import 'global.css';

.window-container {
	margin-bottom: 40px;
	border: 6px solid var(--window-border-color);
	border-radius: 3px;
	box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.window-bar {
	height: 30px;
	background-color: var(--window-border-color);
}

.window-bar * {
	margin: 0;
	line-height: 27px;
}

.window-title {
	float: left;
	padding-left: 2px;

	color: White;
	font-family: 'Roboto Mono', monospace;
}

.window-icon {
	float: right;
	padding-right: 2px;

	color: Tomato;
}

.window-pane {
	padding: 10px;
	background-color: rgb(240, 240, 240);
}